<div class="row">
    <div class="col-md-7">
        <div id="tb-testimonial" class="testimonial testimonial-info">
            <div class="testimonial-section">
                Cause he lifts
            </div>
            <div class="testimonial-desc">
                <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                <div class="testimonial-writer">
                    <div class="testimonial-writer-name">example</div>
                    <div class="testimonial-writer-designation">Front End Developer</div>
                    <a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    <div class="testimonial-writer-designation">March 2nd, 2017</div>
                </div>
            </div>
        </div>
    </div>
</div>
